body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(3, 6, 51);
 ;}
.container{
  display: flex;
  flex-direction: column;
align-items: center;
font-family: 'Roboto', sans-serif;
color: rgb(255, 253, 253);

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
button {
  color: rgb(4, 43, 54);
  width: 150px;
  height: 80px;
  border: 2px rgb(3, 27, 41) solid;
  border-radius: 50px;
font-size: xx-large; 
font-family: 'Roboto', sans-serif;
padding: 20px;

}
h1{
  border: 2px solid rgb(3, 6, 51);
  display: flex;
  justify-content: center;
  width: 100%;
  background-color :white;
  color: rgb(3, 6, 51);
}